{% extends 'pages/base.jinja' %}

{% block title %} Hello, World! {% endblock %}

{% block content %} 
        <section id="hero">  
        <h1>
            <p>Here be all content</p>
        </h1>
    </section>
{% endblock %}