{% extends 'pages/base.jinja '%}

{% block title %} 
    <h1>This is the About of the author of this website </h1>
{% endblock %}

{% block content %}

    <section>
        <h2>Here is a random number...</h2>

        <article id="rand-num">

            {{ number }}

        </article>
    </section>
{% endblock %}